@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+JP&family=Redressed&display=swap');

/* Light Mode */
:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}
/* Dark Mode */
[data-theme='dark'] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: #121212;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--on-background);
  font-family: Lato, sans-serif;
  overflow: hidden;
  background-color: var(--background);
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: Redressed, sans-serif;
  font-size: 6.25rem;
  margin-bottom: 0;
}

h2 {
  color: var(--on-background-alt);
  font-family: Noto Sans JP, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  transition: all 0.9s ease-in-out;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 50px;
}

button {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  outline: none;
}

button:disabled {
  opacity: 0.4;
  cursor: default;
}

button:hover:not(.outline) {
  filter: brightness(110%);
}

.primary {
  background: var(--primary-color);
  color: var(--on-primary);
}

.secondary {
  border: 2px solid var(--secondary-color);
}

.secondary,
.secondary:hover,
.outline.secondary:hover {
  background: var(--secondary-color);
  color: var(--on-primary);
}

.outline {
  background: var(--background);
  color: var(--on-background);
}

.outline:hover {
  background: var(--primary-color);
  color: var(--on-primary);
}

p {
  margin: 0;
  line-height: 25px;
}

/* Navigation */
nav {
  z-index: 10;
  position: fixed;
  font-family: Lato, sans-serif;
  letter-spacing: 3px;
  padding: 21px;
  width: 100vw;
  background: rgb(255 255 255 / 45%);
  font-size: 1.5rem;
}

nav > a {
  filter: drop-shadow(9px 9px 9px var(--primary-color));
}

a {
  margin-right: 25px;
  color: var(--primary-color);
  text-decoration: none;
  border-bottom: 3px solid transparent;
  font-weight: bold;
}

a:hover,
a:focus {
  color: var(--on-background);
  border-bottom: 3px solid;
}

.nav-menu-open {
  display: none;
}

.side-menu-container{
  display: none;
}

.backdrop-active {
  display: none;
}

/* Home Section */

#home {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.floating {  
  animation-name: floating;
  animation-duration: 2.7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  from { transform: translate(0,  0px); }
  72%  { transform: translate(0, 2.16px); }
  to   { transform: translate(0, -0px); }    
}


.hero-section {
  display: flex;
  flex-wrap: wrap;
}

.hero-section > div {
  flex: 1 1 150px;
  height: 100vh;
  width: 100vw;
}

.hero-section__headings {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section__img-right__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 18vh;
  width: 50vw;
  margin-top: 18vh;
}

.hero-section__img-right__container__skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.hero-section__img-right__container__skills > li > img {
  padding: 0 10px;
  max-width: 36px;
  max-height: 36px;
  filter: drop-shadow(9px 9px 9px var(--primary-color));
}

.hero-section__img-right {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#heroImg {
  height: 100vh;
  width: 30.6vw;
  position: absolute;
  top: 60px;
  animation: slideRight 2.5s normal linear;
  filter: drop-shadow(-9px -9px 9px var(--primary-color));
}

@keyframes slideRight {
  from {
    right: -36%;
  }
  to {
    right: 0%;
  }
}

.hero-section__headings__h2 {
  position: absolute;
  bottom: 21%;
  left: 12%;
  animation: slideLeft 3s normal linear;
}

@keyframes slideLeft {
  from {
    left: -45%;
  }
  to {
    left: 12%;
  }
}

/* Hero section js classes */

.hero-section__headings__h1 > span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.9s ease-in-out;
}

.hero-section__headings__h1 > span:last-child, span:first-child {
  filter: drop-shadow(9px 9px 9px var(--primary-color));
}


#fade {
  opacity: 1;
  transform: translateY(0);
}

/* About Section */
.about-container {
  display: flex;
  justify-content: center;
  height: 84vh;
}

.about-container > .image-container > h2 {
  filter: drop-shadow(0px 3.6px 5px var(--primary-color));  
}

.about__heading-container {
  width: 100vw;
  text-align: center;
  background: var(--background);
  position: relative;
  box-shadow: 9px 9px 9px var(--primary-color);
  border-top: solid var(--secondary-color);
}

.about__heading {
  transition: all 0.9s ease-in-out;
}

#about {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

#about > div > h1 {
  margin: 0;
  padding: 0;
}

.image-container {
  border: 1px solid var(--secondary-color);
  box-shadow: 9px 9px 9px var(--secondary-color);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 25px;
  width: 20%;
  height: 75vh;
  background: var(--background);
  /* box-shadow: var(--box-shadow); */
  overflow: hidden;
}

.image-container_images {
  display: flex;
  position: relative;
}

.image-container_images > img {
  margin: 18px 27px 18px 0px;
  padding-left: 10px;
  width: 95%;
}

.image-container__slider-buttons-container {
  height: 50px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.image-container__slider-buttons-container > button {
  display: flex;
  border-radius: 50%;
  justify-content: center; 
  align-items: center;
  min-width: 40px;
  height: 40px;
}

.image-container__slider-buttons-container > button:hover{
  box-shadow: 0px 0px 9px var(--primary-color);
  cursor: pointer;
  transform: scale(1.1);
}

.image-container__slider-buttons-container > button:active{
  background-color: var(--secondary-color);
  transform: scaleX(0.9);
}

.fa-chevron-left + .fa-chevron-right {
  border-radius: 50%;
}

img {
  height: 280px;
  width: 280px;
}

/* Projects Section */

#projects {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.projects__heading-container {
  width: 100vw;
  text-align: center;
  background: var(--background);
  position: relative;
  box-shadow: 9px 9px 9px var(--primary-color);
  border-top: solid var(--secondary-color);
}

.projects__heading {
  margin-top: 0;
  transition: all 0.9s ease-in-out;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.81rem;
  padding-top: 2rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-color);
  width: 18rem;
  height: 23.4rem;
  border-radius: 5%;
  align-items: center;
  box-shadow: 9px 9px 9px var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.grid-card-top {
  width: 90%;
  height: 40%;
  background: (--on-primary);
}

.grid-card-top__sizing {
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: -3px 3px 5px var(--secondary-color);
}

.grid-card-middle {
  width: 90%;
  height: 35%;
}

.grid-card-middle__text {
  padding: 0.3rem;
  transition: all 0.9s ease-in-out;
}

.grid-card-bottom {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 15%;
}

#grid-card-bottom__href {
  margin: 0;
}

#grid-card-bottom__btn {
  min-width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid var(--primary-color);
  font-size: 15px;
  outline: none;
  margin-right: 0;
  margin-top: 0.97rem;
  box-shadow: -3px 3px 9px var(--secondary-color);
}

#grid-card-bottom__btn:active{
  background-color: var(--secondary-color);
  transform: scaleX(0.9);
}
/* Contact Section */

#contact {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

.contact__heading-container {
  width: 100vw;
  text-align: center;
  background: var(--background);
  position: relative;
  box-shadow: 9px 9px 9px var(--primary-color);
  border-top: solid var(--secondary-color);
}

.contact__heading {
  margin-top: 0;
  transition: all 0.9s ease-in-out;
}

.social-icons {
  display: flex;
  justify-content: center;
  height: 63vh;
  align-items: center;
}

.social-icons > a {
  margin: 0;
  padding-left: 45px;
}

.fab {
  font-size: 100px;
  margin-right: 50px;
  cursor: pointer;
  color: var(--primary-color);
}

.fab:hover {
  color: var(--on-background);
}

/* Dark Mode Toggle */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  right: 25px;
  top: 18px;
}

.theme-switch-wrapper span {
  margin-right: 10px;
  font-size: 1rem;
}

#toggle-icon > i {
  filter: drop-shadow(9px 9px 9px var(--primary-color));
}

.toggle-text {
  position: relative;
  top: -4px;
  right: 5px;
  color: var(--on-background);
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.fas {
  display: none;
}

/*
Common breakpoints are 
1. 320px — 480px for mobile devices, 
2. 481px — 768px for iPads & tablets, 
3. 769px — 1024px for small screens like laptop
======================
Media Queries 
======================
*/



.theme-switch-wrapper {
  top: 18px;
}

/* *** iPads & tablets *** */
@media only screen and (max-width: 768px) {
  /* General */
  h1 {
    font-size: 5.4rem;
  }

  h2 {
    font-size: 1.50rem;
  }

  /* NAV */

  #nav > a {
    font-size: 1rem;
  } 

  .fa-bars{
    display: none;
  }

  .toggle-text {
    display: none;
  }

  /* HERO section*/
  #heroImg {
    width: 54vw;
  }
  
  .hero-section__img-right__container {
    margin-right: 18vw;
  }

  .hero-section__headings {
    position: absolute;
  }

}

@media only screen and (max-width: 900px) {
      /* ABOUT section */

      .about-container {
        flex-direction: column;
        align-items: center;
        height: 104rem;
    }
    
      .image-container {
        height: 80vh;
        width: 37vw;
        margin-right: 0px;
      }
    
      .image-container_images > img {
        margin: 18px 27px -18px 0px;
        padding: 0px 0px 10px 18px;
        height: 48vh;
      }
    
      .image-container__slider-buttons-container {
        padding-top: 1.5rem;
      }
    
      .img-container-two, .img-container-three {
        margin-top: 15px;
      }
}

/* *** Mobile *** */
@media only screen and (max-width: 480px) {
  /* General */
  h1 {
    font-size: 2.7rem;
  }

  h2 {
    font-size: 0.9rem;
  }

  /* NAV and backdrop on body */
  .nav-menu-open {
    display: flex;
    width: 75vw;
    height: 270rem;
    background: rgb(255 255 255 / 90%);
    z-index: 120;
    position: absolute;
    left: 0vw;
    transition: all 0.9s ease-in-out;
  }

  .nav-menu-close {
    display: flex;
    width: 75vw;
    height: 270rem;
    background: rgb(255 255 255 / 90%);
    z-index: 120;
    position: absolute;
    left: -75vw;
    transition: all 0.9s ease-in-out;
  }

  .backdrop-active {
    display: flex;
    width: 100vw;
    height: 270rem;
    background: rgb(0 0 0 / 80%);
    z-index: 110;
    position: absolute;
    left: 0vw;
  }

  .backdrop-inactive {
    display: flex;
    width: 100vw;
    height: 270rem;
    background: rgb(0 0 0 / 80%);
    z-index: 110;
    position: absolute;
    left: -100vw;
  }

  .nav-menu__top-bar {
    display: flex;
    width: 75vw;
    height: 4.6rem;
    background: var(--primary-color);
    position: fixed;
    justify-content: flex-end;
    align-items: center;
  }   

  .nav-menu__top-bar > i {
    padding-right: 1.5rem;
    font-size: 1.8rem;
  }

  .nav-menu__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    margin-top: 5rem;
  }

  .nav-menu__items > li {
    list-style-type: none;
    padding-top: 1.5rem;
    font-size: 1.6rem;
  }

  /* NAV */

  #nav > i {
    display: flex;
    font-size: 2rem;
    margin-left: 1rem;
  }

  #nav > a {
    display: none;
  } 

  .toggle-text {
    display: none;
  }


  /* HERO section*/
  #heroImg {
    width: 90vw;
    height: 93vh;
  }

  .hero-section__img-right__container__skills {
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    margin-left: -81%;
}
  
  .hero-section__img-right__container {
    margin-right: 18vw;
  }

  .hero-section__headings {
    position: absolute;
    align-items: baseline;
  }

  .hero-section__headings__h1 {
    margin-left: 1.8rem;
  }

  .hero-section__headings__h2 {
    bottom: 36%;
    animation: slideLeft 3s normal linear;
  }
  
  @keyframes slideLeft {
    from {
      left: -90%;
    }
    to {
      left: 12%;
    }
  }

  /* ABOUT section */

  .about-container {
    flex-direction: column;
    align-items: center;
    height: 104rem;
}

  .image-container {
    height: 80vh;
    width: 80vw;
    margin-right: 0px;
  }

  .image-container_images > img {
    margin: 18px 27px -18px 0px;
    padding: 0px 0px 10px 18px;
    height: 48vh;
  }

  .image-container__slider-buttons-container {
    padding-top: 1.5rem;
  }

  .img-container-two, .img-container-three {
    margin-top: 15px;
  }

  /* PROJECTS */
  .text-box {
    padding: 7.94rem 10.56rem 1.25rem 1.25rem;
  }

  /* CONTACT */
  .social-icons {
    height: 75vh;
  }

}


